@charset "utf-8";
.adcampaign-title{ padding:10px 0 0 0; color:#0079c1; font-size:20px;}
.adcampaign-cont { border:1px solid #c4d3e2; min-height:32px; padding:15px; margin-bottom:10px; background:#fff; border-radius:6px; box-shadow:0 1px 2px rgba(0,0,0,0.2); clear:both; }
.title-adcampaign { float:left; padding-top:8px;}
.title-adcampaign, .title-adcampaign label {
	color:#61738d;
	font-family:'Arial Narrow'Arial;
	font-stretch:condensed;
	font-size:16px;
	font-weight:bold;
	}

.adcampaign-data { float:right; height:32px;}
.adcampaign-data li { padding:0 0 0 5px; float:left;}

.adcampaign-sub-box {clear:both;
				/*	margin:5px 0 10px 0; */
					height:24px;
					padding:10px 0;
					/*
					background:#f4f7f8;
					border:1px solid #c4d3e2;
					*/
					}
.adcampaign-sub-box li { display:inline-block; float:left; line-height:24px;}
.adcampaign-sub-box li.pkgname {width:auto; max-width:350px;}
.adcampaign-sub-box li.finish-pkgname {width:auto; max-width:350px;}
.adcampaign-sub-box li.trackurl { width:553px;}
.adcampaign-sub-box li input.adchannel-input, input.adcampaign-input {padding:2px 10px; margin-bottom:0;color: #3A414B;}
.adcampaign-sub-box li.last { float:right; text-align:right; padding-right:0px;}
.adcampaign-sub-box li+li { margin-left: 10px; }
.adcampaign-sub-box .type-title { font-size:18px; }
.adcampaign-btn-wrap { padding:10px 0 20px 0; text-align:center; height:40px;}
.adcampaign-modal-text1 {padding: 20px 0;}
.adcampaign-modal-text2 {font-size: 12px; padding: 20px 0;}
.current-wrap .sel-adcampaign { border:2px solid #00a0ff;}
.adcampaign-finished-wrap .sel-adcampaign { border:2px solid #C4D3E2;}
.adcampaign-finished-wrap { background:#f4f7f8;}
.finished-wrap .title-adcampaign {margin-bottom: 12px; }
.btn-adcampaign {padding:6px 8px; margin-bottom:0;}

.adchannel-confirm input {padding:2px 10px; margin-bottom:0; margin: 15px;}
.adchannel-confirm .sub-text {font-size:11px;}

/* 11월 14일 컴퍼넌트 그룹 리스트 추가 */

.list-body {}

/* .comp-group-wrap { padding-bottom:20px; clear:both;} */
.comp-group-wrap { padding-bottom:20px; clear:both;}

.gr-header { background:#0079c1; clear:both; height:56px}
.gr-header .gr-title { float:left; min-width:400px;}
.gr-header .gr-title h3 { font-size:20px; color:#fff; padding-left:15px; line-height:56px;}
.gr-header .gr-btn {float:right;}
.gr-header a{ color:#fff;}
.gr-header a:hover, .gr-header a:focus{ color:#fff; text-decoration:none;}
.gr-header a:active, .gr-header a:active{ color:#fff; text-decoration:none;}
/*.gr-btn li { width:56px; display:inline; float:right;}*/
.gr-btn li { width:291px; display:inline; float:right;}

.gr-body {}
.gr-comp-tbl { border-left:1px solid #c0c9d2; border-right:1px solid #c0c9d2;}
.gr-comp-tbl th { background:#527184; height:40px; border-top:2px solid #2d536b; color:#fff; font-size:14px; padding-left:15px; font-weight:normal; text-align:left;}
.gr-comp-tbl th:first-child { text-align:center;}
.gr-comp-tbl td:first-child { text-align:center;}
.gr-comp-tbl th:last-child { text-align:center; padding-right:120px;}
.gr-comp-tbl td:last-child { text-align:right; padding-right:15px;}

.gr-comp-tbl label {margin:0; padding:0;}
.gr-comp-tbl tr { background:#fff;}
.gr-comp-tbl tr:hover { background:#fffde8;}
.gr-comp-tbl td { border-bottom:1px solid #c0c9d2; height:49px; padding-left:15px;}
.gr-comp-tbl input { padding:2px 3px 0 3px; margin:0; color:#666; font-size:14px; letter-spacing:0;}
.key-input {width:70px;}

.gr-add-comp { height:60px; text-align:center; color:#000; font-size:16px; font-weight:bold; border-left:1px solid #c0c9d2; border-right:1px solid #c0c9d2; border-bottom:1px solid #c0c9d2; line-height:60px; background:#fff;}
.gr-add-comp a{ color:#1abc9c;}
.gr-add-comp a:hover,.gr-add-comp a:focus { color:#2fe2bf;}
.gr-add-comp a:active,.gr-add-comp a:active { color:#16a085;}

.comp-add { height:54px; border-left:1px solid #c0c9d2; border-right:1px solid #c0c9d2; border-bottom:1px solid #c0c9d2; background:#fffde8;}
.comp-add input, .gr-title input { padding:2px; margin:0;}
.gr-comp-in { float:left; padding:14px 0 0 15px;}
.gr-comp-btn { float:right; padding:15px 15px 0 0;}

.ad-gr-in { float:left; padding:15px 0 0 15px;}
.ad-gr-btn {float:right; padding:15px 15px 0 0;}

.gr-shadow { background:#e1e4e5; height:2px; clear:both;}

.add-group-wrap { padding:20px 0;;}
.add-group { font-size:18px; line-height:36px;}

.z-clip-wrap { position: relative; display: inline-block; }

/* 11월 14일 컴퍼넌트 그룹 리스트 추가 끝 */

.target-options { font-size: 20px; line-height:30px; }
.target-options .warning { margin-left:10px; font-size:16px; color:red; }
.target-options li { line-height:30px; height:60px; margin-top:40px; margin-bottom:40px; }
.target-manage .components h3 { display:inline-block; float:left; }
.target-manage .components .btn-component-manage { margin-left:10px; margin-top:7px; display:inline-block; float:left; }

.target-component-empty{ height:60px; margin-bottom:20px; margin-top:20px; font-size:18px; text-align:left; width:100%; line-height:30px; }
.target-exist{ font-size:18px; text-align:left; width:100%; }
