

.setting-wrap {
	min-height:100%;
	width:100%;
	margin:-60px auto -50px auto;
	background-color:#f4f7f8;
	min-width:1000px;
	}


.setting-cont {
	text-align:center;
	max-width:1280px;
	min-width:1000px;
	margin:0 auto;
	padding:160px 0;
	}


.signin-form { width:450px; margin:0 auto; background:#2f343f; text-align:left; box-shadow:0 1px 2px #aab0b0;}
.signin-form .title { width:350px; color:#0079c1; font-size:28px; padding:20px 50px 15px 50px; border-bottom:1px solid #424650; background:#fff; letter-spacing:-1px; font-family:tahoma; font-weight:normal;}
.signin-form .idpw-wrap { padding:60px 50px 50px 50px; width:350px;}
.signin-form .idpw-wrap .idpw { padding-bottom:5px;}
.icon-sign-user { background:url(../img/icon_sign_user.png) no-repeat; width:38px; height:38px; padding-right:10px; vertical-align:top;}
.icon-sign-pass { background:url(../img/icon_sign_pass.png) no-repeat; width:38px; height:38px; padding-right:10px;vertical-align:top;}
.signin-txt { font-size:14px; padding:15px 0 0 0; line-height:16px; color:#8e93a5;}
.signin-txt2 { font-size:14px; padding:0 0 15px 0; line-height:16px; color:#8e93a5;}

.signup-form { width:960px; margin:0 auto; background:#2f343f; text-align:left; box-shadow:0 1px 2px #aab0b0;}
.signup-form .title{ width:860px; color:#0079c1; font-size:32px; padding:20px 50px 15px 50px; border-bottom:1px solid #38393c; background:#fff; letter-spacing:-1px; font-family:tahoma; font-weight:normal;}
.signup-form .signup-cont { padding:80px 120px 80px 120px; width:720px; color:#8e93a5;}
.signup-cont h2 { border-bottom:2px solid #434b5e; padding-bottom:10px; color:#fff;}
.signup-cont .comp { padding:20px 0 10px 0;}
.signup-cont .comp h3 { font-size:18px; line-height:24px; font-weight:normal; padding-bottom:10px;}
.signup-cont .comp .imp { font-size:24px; color:#F00; padding-left:5px;}

.signup-finish { text-align:center; padding:50px 0;}
.signup-finish .finish-title {font-size:60px; line-height:64px; color:#fff;}
.signup-finish .finish-sub{ font-size:18px; line-height:24px; padding:30px 0;}
.signup-finish .finish-title2 {font-size:32px; line-height:36px; color:#fff; padding-top:30px;}




.wrap-setting {min-height:100%; max-width:1280px; min-width:1000px; margin:-60px auto -50px auto; background-color:#f4f7f8; border-left:1px solid #ced7df; border-right:1px solid #ced7df;}

.setting-body {width:100%; margin:60px auto 50px auto; clear:both;}
.setting-body .cont-wrap {	padding:60px 0 0 0; width:980px; margin:0 auto;}

h1.setting-title {}

.setting-cont-body{ margin:20px 0 40px 0; overflow:auto; background:#fff; border:1px solid #c4d3e2;}

.setting-tab-wrap { background:#2f343f; padding:25px 0 0 40px;}

.setting-tab-wrap .nav-tabs {
	border-bottom:1px solid #2f343f;
	}

.setting-tab-wrap .nav-tabs > li > a {
	padding:12px 20px;
    line-height: 30px;
	color:#fff;
	background:#000;
	}

.setting-tab-wrap  .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #fff;
  background:#eee;
  color:#0079c1;
}

.setting-tab-wrap .nav-tabs > .active > a,
.setting-tab-wrap .nav-tabs > .active > a:hover {
  color: #0079c1;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #fff;
}


.setting-tab { font-size:24px; font-weight:bold;}

.account-cont { overflow:auto; padding:40px;}

.setting-cont-body .title { padding-bottom:20px;}
.setting-cont-body .tbl-wrap {width:100%;}

/* tbl1
title ㅣ content
title ㅣ content
 */
.setting-cont-body .tbl1 { border-top:2px solid #c4d3e2;}
.setting-cont-body .tbl1 input{ margin-bottom:0;}
.setting-cont-body .tbl1 th{ width:180px; font-size:14px; font-weight:normal; padding:10px 0 10px 25px;  text-align:left; color:#333; background:#f4f7f8; border-bottom:1px dotted #c4d3e2;}
.setting-cont-body .tbl1 td{ padding:20px 0 20px 20px; border-bottom:1px dotted #c4d3e2;}

/* tbl2
title ㅣ content ㅣ title ㅣ content
title ㅣ content ㅣ title ㅣ content
 */
.setting-cont-body .tbl2 { border-top:2px solid #c4d3e2;}
.setting-cont-body .tbl2 input{ margin-bottom:0;}
.setting-cont-body .tbl2 th{ text-align:left; font-size:14px; font-weight:normal; padding:15px 0 15px 25px; color:#333; background:#f4f7f8; border-bottom:1px dotted #c4d3e2;}
.setting-cont-body .tbl2 td{ padding:15px 0 15px 20px; border-bottom:1px dotted #c4d3e2;}


/* tbl1h
title ㅣ title ㅣ title ㅣ title
content ㅣ content ㅣ content ㅣ content
 */
.tbl1h { border-top:2px solid #c4d3e2; margin:10px 0 40px 0;}
.tbl1h input{ margin-bottom:0;}
.tbl1h th{font-size:16px; padding:15px; color:#333; background:#f4f7f8; border-bottom:1px dotted #c4d3e2;}
.tbl1h td{ padding:15px; border-bottom:1px dotted #c4d3e2; text-align:center; font-size:16px;}
